<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <title>Продовольствие</title>
</head>

<body>

<div class="background-left"> </div>

<!--БЛОКИ С ОТПРАВКОЙ ДАННЫХ-->
<div class="main-site">

  <!--ПЕРЕКЛЮЧЕНИЕ МЕЖДУ СТРАНИЦ-->
  <div class="left-panel">

    <div class="site-index">
    <a href="http://localhost:8080/index" style="text-decoration: none; color: black;">Главная страница</a>
    </div>

    <div class="site-contact">
    <a href="http://localhost:8080/contact" style="text-decoration: none; color: black;">Обратная связь</a>
    </div>

  </div>

  <div class="CreatePersonModule">

  <form id="putin">

  <input type="text" placeholder="Имя/Фамилия" id="fios">
  <input type="text" placeholder="MAN/WOMAN" id="genders">
  <input type="number" placeholder="Возраст" id="ages">
  <input type="number" placeholder="Рост" id="heightes">
  <input type="number" placeholder="Вес" id="weightes">

  </form>

  <button id="fetchButtonPost" class="send-button1"> Добавить человека </button>
  <script src="../static/js/postquest.js" th:src="@{/js/postquest.js}"> </script>


</div>

  <div class="SetHikeModule">

  <form id="putin2" class="putin2">

  <input type="number" placeholder="Длительность похода"  id="hikeduration" min="1" max="99">

  <select id="typeofhike">
    <option type="number" value= "1"   id="wal">Пеший</option>
    <option type="number" value= "1.2" id="ski">Лыжный</option>
    <option type="number" value= "1.3" id="hik">Горный</option>
  </select>

  <select id="categoryofhike">
    <option type="number" value="1"     >Первая Категория</option>
    <option type="number" value="1.1"   >Вторая Категория</option>
    <option type="number" value="1.2"   >Третья Категория</option>
    <option type="number" value="1.35"  >Четвёртая Категория</option>
    <option type="number" value="1.455" >Пятая Категория</option>
    <option type="number" value="1.615" >Шестая Категория</option>
    <option type="number" value="1.945" >Седьмая Категория</option>
  </select>

  </form>

  <button id="ButtonPostHike" class="send-button2"> Рассчитать Рацион </button>
  <script src="../static/js/hikequest.js" th:src="@{/js/hikequest.js}"> </script>



</div>


  <div id="accordion" class="accordi">
    <script src="../static/js/postquest.js" th:src="@{/js/postquest.js}"> </script>
  </div>

  <table class="DataTable" id="DataTable"> </table>

</div>



</body>
</html>

