<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/assets/css/style.css" th:href="@{/assets/css/style.css}">
  <title>Продовольствие</title>
</head>
<body>

<div>

  <input type="text" placeholder="Имя/Фамилия" id="fios">
  <input type="text" placeholder="MAN/WOMAN" id="genders">
  <input type="number" placeholder="Возраст" id="ages">
  <input type="number" placeholder="Рост" id="heightes">
  <input type="number" placeholder="Вес" id="weightes">


</div>


<div>

  <input type="text" placeholder="Длительность похода">

  <select>
    <option value="walki">Пеший</option>
    <option value="skiki">Лыжный</option>
    <option value="hiki">Горный</option>
  </select>

  <select>
    <option value="rank1">Первая Категория</option>
    <option value="rank2">Вторая Категория</option>
    <option value="rank3">Третья Категория</option>
    <option value="rank4">Четвёртая Категория</option>
    <option value="rank5">Пятая Категория</option>
    <option value="rank6">Шестая Категория</option>
    <option value="rank7">Седьмая Категория</option>
  </select>

  <button> Set Hike </button>

</div>


<div>

  <button> Calculate </button>          <!-- В ОТДЕЛЬНЫЙ БЛОК ПОМЕСТИТЬ С ВЫВОДОН ИТОГОВЫХ ДАННЫХ -->

  <button id="fetchButton" > GET </button>
  <script src="../static/js/request.js" th:src="@{/js/request.js}"> </script>

  <button id="fetchButtonPost" > POST (Create Person) </button>
  <script src="../static/js/postquest.js" th:src="@{/js/postquest.js}"> </script>

  <button id="fetchButtonID" > GET ID </button>
  <script src="../static/js/idrequest.js" th:src="@{/js/idrequest.js}"> </script>
</div>



<div id="getContent" > </div>




</body>
</html>

